*{
    margin: 0 auto;
}
body{
    background-color: gray;
}
header{
    height: 5em;
background-color: rgb(124, 6, 6);
}

section.root{
    position: fixed;
    width: 150em;
    display: inline;
}
section.section1{
background-color: rgb(255, 255, 255);
display: inline-flex;
position: absolute;
align-items: stretch;
height: 40em;
width: 80%;
min-width: 2%;
min-height: 4%;
margin-left: 0%;

}
section.section2{
background-color: rgb(83, 0, 100);
display: inline-flex ;
align-items: stretch;
position: relative;
width: 15%;
max-width: 20%;
margin-right: -5%;
}


.navbar{
    --bs-navbar-brand-margin-end: 100rem;
}
.container{
    --bs-gutter-x:1.5em;
    padding-left: calc(var(--bs-gutter-x) * -9.5);
    margin-left: 40px;
}


div.purple{
    height: 10em;
    width: 5%;
}
div.tarup{
    width: 5%;
}